div{
    color: rgba(177, 167, 27, 0.674);
}
button{
    color: rgb(242, 255, 4);
    background-color: rgb(36, 120, 246);
}
span{
    color: rgb(43, 73, 226);
}

button{
    margin-left: 500px;
}
image{
    margin-left: 5px;;
}
