<br>
<h1>Tablas de Multiplicar</h1>
<br>
<div class="row">
    <div class="col-6">
    <div class="mb-3 row">
        <label for="num" class="col-sm-2 col-form-label">Numero a usar</label>
        <div class="col-sm-10">
          <input type="text"[(ngModel)]="num" name="num" class="form-control" id="num">
        </div>
      </div>
      
        <div class="mb-3 row">
            <button (click)="generador()" class="btn btn-primary">Generar tabla</button>
        </div>
      </div>
    <div class="col-6">
    <div>Resultado:  </div>
    <div *ngFor="let resultado of resultado" class="tabla-mult">
        {{resultado}}
    </div>
    </div>
</div>

